# K-nearest neighbors Project Tutorial

**Step 1:** 
Import libraries and datasets

In [45]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast
%matplotlib inline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
movies = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv")
credits = pd.read_csv("../data/raw/tmdb_5000_credits.csv")

**Step 2:**

Explore the dataset by looking at the first rows and the number of rows and columns.

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [8]:
movies.shape
#483 rows, 20 cols

(4803, 20)

In [10]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [11]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [12]:
credits.shape
#48803 rows, 4 cols

(4803, 4)

In [13]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

**Step 3:**
Merge both datasets.

In [14]:
movies_df = movies.merge(credits, on='title')

In [16]:
movies_df.sample(2)
#To check if merging went ok

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
3166,9000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,14811,"[{""id"": 941, ""name"": ""tradition""}, {""id"": 1566...",en,Fiddler on the Roof,This lavishly produced and critically acclaime...,7.623979,"[{""name"": ""United Artists"", ""id"": 60}, {""name""...",...,181.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,To Life!,Fiddler on the Roof,7.4,134,14811,"[{""cast_id"": 6, ""character"": ""Tevye"", ""credit_...","[{""credit_id"": ""593a693cc3a368235b00a599"", ""de..."
1201,40000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""...",http://www.escapeearthmovie.com/,68179,"[{""id"": 9831, ""name"": ""spaceship""}, {""id"": 995...",en,Escape from Planet Earth,Astronaut Scorch Supernova finds himself caugh...,18.142180,"[{""name"": ""Rainmaker Entertainment"", ""id"": 221...",...,89.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Earth's greatest secrets are about to break out!,Escape from Planet Earth,5.7,332,68179,"[{""cast_id"": 1, ""character"": ""Scorch Supernova...","[{""credit_id"": ""52fe4788c3a368484e0cc2d7"", ""de..."

**Step 4:**
 Drop irrelevant columns

In [17]:
movies_df = movies_df[['movie_id','title','overview','genres','keywords','cast','crew']]

**Step 5:**
Dealing with null values

In [19]:
movies_df.isnull().sum()
#Hay 3 nulls en la columna 'overview' 
#Los vamos a eliminar en el próximo chunk

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [20]:
movies_df.dropna(inplace = True)

**Step 6:**
Transforming columns with json format

In [23]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [27]:
movies_df['genres'] = movies_df['genres'].apply(convert)
#Applying function to obtain only the genres, without a json format

In [28]:
movies_df['keywords'] = movies_df['keywords'].apply(convert)

In [29]:
def convert3(obj):
    L = []
    count = 0
    for i in ast.literal_eval(obj):
        if count < 3:
            L.append(i['name'])
        count +=1  
    return L

In [30]:
movies_df['cast'] = movies_df['cast'].apply(convert3)

In [31]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L
#Function to get directors name

In [32]:
movies_df['crew'] = movies_df['crew'].apply(fetch_director)

In [33]:
movies_df['overview'] = movies_df['overview'].apply(lambda x : x.split())
#Converting overview to list

**Step 7:** Removing whitespaces between words

In [34]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [35]:
movies_df['cast'] = movies_df['cast'].apply(collapse)
movies_df['crew'] = movies_df['crew'].apply(collapse)
movies_df['genres'] = movies_df['genres'].apply(collapse)
movies_df['keywords'] = movies_df['keywords'].apply(collapse)

**Step 8:**

We will reduce our dataset by combining all our previous converted columns into only one column named 'tags' (which we will create). This column will now have ALL items separated by commas, but we will ignore commas by using lambda x :" ".join(x).

In [36]:
movies_df['tags'] = movies_df['overview']+movies_df['genres']+movies_df['keywords']+movies_df['cast']+movies_df['crew']

In [38]:
new_df = movies_df[['movie_id','title','tags']]

In [39]:
new_df['tags'] = new_df['tags'].apply(lambda x :" ".join(x))

C:\Users\belen\AppData\Local\Temp\ipykernel_2932\4095421860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x :" ".join(x))

**Step 9:** Text vectorizer

In [42]:
cv = CountVectorizer(max_features=5000 ,stop_words='english')

In [43]:
vectors = cv.fit_transform(new_df['tags']).toarray()

**Step 10:** Cosine similarity

In [46]:
cosine_similarity(vectors).shape

(4806, 4806)

In [47]:
similarity = cosine_similarity(vectors)

In [48]:
similarity[0]

array([1.        , 0.08964215, 0.05976143, ..., 0.02519763, 0.02817181,
       0.        ])

In [49]:
sorted(list(enumerate(similarity[0])),reverse =True , key = lambda x:x[1])[1:6]

[(539, 0.26089696604360174),
 (1194, 0.2581988897471611),
 (507, 0.25302403842552984),
 (260, 0.25110592822973776),
 (1216, 0.24944382578492943)]

**Step 11:**

Creating a recommendation function based on the cosine_similarity. This function should recommend the 5 most similar movies.

In [50]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0] ##fetching the movie index
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate( distances)),reverse =True , key = lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

**Step 12:**

Check your recommender system

In [56]:
recommend('The Twilight Saga: Eclipse')
#Recomienda el resto de las de la saga de Twilight y después dos que no son de la saga pero son de vampiros

The Twilight Saga: New Moon
The Twilight Saga: Breaking Dawn - Part 2
Twilight
Underworld: Awakening
Underworld

In [62]:
recommend('Harry Potter and the Order of the Phoenix')
#Recomienda todas las de Harry Potter

Harry Potter and the Prisoner of Azkaban
Harry Potter and the Chamber of Secrets
Harry Potter and the Goblet of Fire
Harry Potter and the Half-Blood Prince
Harry Potter and the Philosopher's Stone

In [63]:
recommend('Tangled')
#Recomienda otras películas animadas

Aladdin
Toy Story 3
The Princess and the Frog
Frozen
The Smurfs